* { /* i do this just to test the css */
	border: 1px dashed black;
}

:root {
	--green: #2ecc40;
	--lightgreen: #e3fcc7;
	--red: #ef4136;
	--lightred: #fcd1b6;
	--yellow: #ffcc33;
	--lightyellow: #ffffcc;
	/* variable names for colors here */
}

.button {
	border: 2px solid black;
	color: var(--green);
	border-radius: 10px;
	background-color: transparent;
	width: 150px;
	padding: 5px;
	margin: 5px;
	-moz-transition: background-color 0.25s;
	transition: background-color 0.25s;
}
.button.on {
	border-color: var(--green);
	color: var(--green);
}
.button.on:hover {
	background-color: var(--lightgreen);
}
.button.off {
	border-color: var(--red) !important;
	color: var(--red);
	background-color: var(--lightred);
}
.button.loading {
	border-color: var(--yellow);
	color: var(--yellow);
}
.button.loading:hover {
	background-color: var(--lightyellow)
}

#container {
	display: grid;
	width: 100%;
	height: 95vh; /* there should be a better way for this... */
	grid-template-columns: 25px 300px auto 300px 25px;
	grid-template-rows: 50px auto 40px;
	grid-template-areas:
		". output header inventory ."
		". output buttons inventory ."
		". output footer footer .";

	background-color: #ffffff;
	font: 14px "Libre Franklin", sans-serif;
}
#container div {
	place-self: stretch;
	padding: 10px;
}

#title {
	grid-area: header;
	text-align: center;
	font: 24px "Libre Franklin", sans-serif;
}
#output {
	grid-area: output;
}
#inventory {
	grid-area: inventory;
}
#buttons {
	grid-area: buttons;
}
#footer {
	grid-area: footer;
}