* { /* this is not really css for the game */
	border: 1px dashed black; /* i do this just to test the css */
}

.button {
	border: 2px solid black;
	border-radius: 10px;
	background-color: transparent;
	width: 200px;
	padding: 7px;
	font: 18px "Libre Franklin";
	-moz-webkit-transition: background-color: 0.25s;
}
.button:hover {
	background-color: lightgray;
}

#container {
	display: grid;
	width: 100%;
	height: 95vh; /* there should be a better way for this... */
	grid-template-columns: 50px 300px auto 300px 50px;
	grid-template-rows: 50px auto 100px 50px;
	grid-template-areas:
		". . header . ."
		". output buttons inventory ."
		". output buttons inventory ."
		". output footer footer footer";

	background-color: #ffffff;
}
#container div {
	place-self: stretch;
	padding: 10px;
}

#title {
	grid-area: header;
	text-align: center;
	font: 24px "Libre Franklin", sans-serif;
}
#output {
	grid-area: output;
}
#inventory {
	grid-area: inventory;
}
#buttons {
	grid-area: buttons;
}